/* General */
body {
    margin: 0;
    font-family: 'lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    color: #291f1a;
}

* {
    box-sizing: border-box;
}
.main-text {
    text-align: center;
    margin: 50px 0;
    font-size: 2rem;
    font-weight: 300;
}

/* padding for section */

.pad-section { 
    padding-top: 30px;
    padding-bottom: 30px;
}

/* color GREEN for span */
.color_green {
    color: #1ac056;
    font-weight: 400;
}

section {
    clear: both;
}

/* Menu nawigacyjne */
#menu {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 100;
}

#menu > ul {
    margin: 0;
    text-align: right;
    margin-right: 50px;;
}

#menu > ul > .list-item {
    display: inline-block;
    padding: 25px;
    list-style: none;
} 

#menu > ul > .list-item > a {
    color: #1ac056;
    text-decoration: none;
    font-weight: 400;
}

#menu > ul > .list-item > a:hover {
    color: #0c843a;
    border-top: 2px solid #0c843a;
    padding-top: 3.1vh;
}

/* Header */
#head-img {
    position: relative;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

#head-img > .head-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

#head-img > .head-text > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 5.5em;
}

#head-img > .head-text > h3 {
    font-size: 2em;
}

/* Section about me */
#aboutme {
    background-color: #f9fcfe;
    height: 600px;
    box-shadow: 1px 3px 6px 1px hsla(0,0%,80%,.5);
}

#aboutme > .img-aboutme > img {
    height: 300px;
    border: 15px solid #fff;
    border-radius: 10px;
}

#aboutme > .img-aboutme {
    text-align: center;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

#aboutme > .text-aboutme {
    width: 50%;
    float: right;
}

#aboutme > .text-aboutme article {
    font-weight: 300;
    line-height: 30px;
    margin-right: 130px;
}

/* Section My skills */
#skills {
    text-align: center;
}

#skills > p {
    margin: 0 60px;
    line-height: 25px;
}

#skills > .mylang {
    display: inline-block;
    margin: 35px 40px;
}

/* Section my portfolio */
#portfolio {
    text-align: center;
    font-size: 0;
    padding-bottom: 150px;
}

#portfolio > .square-img {
    position: relative;
    display: inline-block;
    font-size: initial;
    margin: 0;
/* font-size initial cofa font:0 */
}

#portfolio > .square-img > img {
    height: 330px;
}

#portfolio > .square-img > .square-color {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    background-color: rgba(33, 59, 80,0);
    transition:  1s ease;
}

#portfolio > .square-img > .square-color:hover {
    background-color: rgba(33, 59, 80,0.8);
}

#portfolio > .square-img > .square-color > .square-port {
    position: absolute;
    width: 90%;
    height: 90%;
    border: 1px solid #fff;
    top: 0;
    margin: 15px 10px 10px 20px;
    opacity: 0;
    transition:  1s ease;
}

#portfolio > .square-img > .square-color > .square-port:hover {
    opacity: 1;
}

#portfolio > .square-img > .square-color > .square-port > .square-container {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    color: #fff;
}

.fa-link {
    font-size: 30px;
    transform: rotate(90deg);
}

#portfolio > .square-img > .square-color > .square-port > .square-container > a {
    text-decoration: none;
    color: #fff;
}

/* Section contact */
#contact {
    position: relative;
    background-color: #213b50;
    color: #fff;
    font-weight: 200;
}

#contact > .contact_texture {
    padding-left: 100px;
}

#contact > .contact_texture > .contact-text {
    font-weight: 100;
    font-size: 2.5em;
    padding-bottom: 50px;
}

#contact > .contact_texture > .contact_address {
    line-height: 25px;
    font-style: normal;
}

#contact > .contact_texture > .contact_address > a {
    color: #1ac056;
}

#contact > .contact_texture > address > .contact-mail {
    color: #fff;
    display: inline;
}

/* Contact icons */
#contact > .contact-icons {
    padding: 70px 0 0 100px;
}

#contact > .contact-icons > a {
    text-decoration: none;
    color: #fff;
}

#contact > .contact-icons > a > i {
    font-size: 25px;
    padding: 7px 7px;
    margin-right: 25px;
    border: 0.1px solid #fff;
}

#contact > .contact-icons > a > .fa-facebook-f {
    padding-left: 16px;
    padding-right: 16px;
}

#contact > .contact-icons > a > .fa-facebook-f:hover {
    background: #4668b3;
}

#contact > .contact-icons > a > .fa-twitter {
    padding-left: 10px;
    padding-right: 10px;
}

#contact > .contact-icons > a > .fa-twitter:hover {
    background: #3095d3;
}

#contact > .contact-icons > a > .fa-google-plus-g:hover {
    background: #d95333;
}

#contact > .contact-icons > a > .fa-linkedin-in {
    padding-left: 11.5px;
    padding-right: 11.5px;
}

#contact > .contact-icons > a > .fa-linkedin-in:hover {
    background: #0077B5;
}

form {
    text-align: right;
}

footer {
    background-color: #13232f;
}

footer > p {
    color: #fff;
    padding: 5px 0;
    margin: 0;
    padding-left: 70px;
    font-size: 1rem;
}

/* Formularz */
form {
    position: absolute;
    display: inline-block;
    width: 200px;
    right: 500px;
    top: 120px;
}

form input {
    width: 600px;
    height: 45px;
    margin: 10px 0;
    background-color: #2b4a64;
    border: 1px solid #2b4a64;
}

form textarea {
    width: 600px;
    height: 80px;
    margin: 10px 0;
    background-color: #2b4a64;
    border: 1px solid #2b4a64;
}

form > input::placeholder, form textarea::placeholder {
    padding: 10px 
}

form button {
/*    position: relative;*/
    background-color: #1ac056;
    margin-left: 490px;
    display: block;
    width: 110px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 14px;
/*    left: 490px;*/
}

form button:hover {
    background-color: #0aa034;
    cursor: pointer;
}